@font-face {
  font-family: "SourceSerifPro";
  src: url(/fonts/SourceSerifPro-ExtraLight.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "SourceSerifPro";
  src: url(/fonts/SourceSerifPro-Regular.ttf) format('truetype');
  font-weight: 400;
}

html, body {
  font-family: "SourceSerifPro", serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  transition: opacity linear 0.25s;
}

a:hover,
a:active {
  opacity: 0.75;
}

.app-title {
  text-align: center;
  font-size: 4.8rem;
  line-height: 12rem;
  font-weight: 100;
}

.app-title a {
  color: #666;
}

.app-footer {
  margin: 12rem auto;
  text-align: center;
  font-size: 1.6rem;
  color: #666;
}

.photo-swipe-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.photo-swipe-wrapper .ember-view {
  width: 100%;
}

.photo-swipe-wrapper a {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 7rem;
}

.photo-swipe-wrapper a:nth-child(even) {
  text-align: right;
}

.photo-swipe-thumbnail {
  height: 28rem;
}

.page-about {
  font-size: 1.6rem;
  line-height: 4.8rem;
  text-align: center;
}

