<h2 class="app-title">
  {{#link-to "index"}}Woodo{{/link-to}}
</h2>

{{outlet}}

<div class="app-footer">
  <p>
    <span>&copy; 2016 woodo.me - </span>
    {{#link-to "about"}}About{{/link-to}}
    <span> - </span>
    <a href="https://github.com/ryaneof/woodo">Hosted on GitHub</a>
  </p>
</div>